SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AA9017019", SYMLINK+="arm_l0"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AA9018153", SYMLINK+="arm_f0"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AAF218153", SYMLINK+="arm_l1"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AAF220230", SYMLINK+="arm_f1"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AB9065562", SYMLINK+="arm_l2"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AB9065773", SYMLINK+="arm_f2"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AB9065566", SYMLINK+="arm_l3"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AB9065944", SYMLINK+="arm_f3"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AB9065231", SYMLINK+="arm_l4"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AB9064986", SYMLINK+="arm_f4"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AB9065889", SYMLINK+="arm_l5"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AB9065940", SYMLINK+="arm_f5"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AAF219849", SYMLINK+="arm_l7"
SUBSYSTEM=="tty|video4linux", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AB9065542", SYMLINK+="arm_f7"
